body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

div {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 100px;
}

button {
    display: block;
    margin: 10px auto;
}

#result {
    margin-top: 20px;
}
